<%- include('partials/header') %>
<%- include('partials/sidebar') %>

<section id="notices" class="container-fluid">
    <div class="row" style="margin: 0%;">
        <div class="col-12" style="text-align: center;">
            <h1 style="color: black;">Awards and Publications</h1>
        </div>
        <div class="col-lg-8 col-md-9 col-10 mx-auto mt-5">
            <ul class="list-group list-group-flush">
                <% awards.forEach(award => { %>
                    <li id="<%= award._id %> " class="list-group-item" style="border-bottom: 2px solid rgba(0,0,0,0.125)">
                        <span style="font-size: 1.3rem; color: #1e1e1e;"><%= award.name %> </span>
                        <% if(award.roll != null) %>
                            <span style="float: right; font-size: 1.3rem; color: #1e1e1e;"><%= award.roll %></span> 
                        <p style="color: black; font-size: 1.1rem;"><%= award.description %> </p>
                    </li>
                <% }) %> 
                <li class="list-group-item" style="border-bottom: 2px solid rgba(0,0,0,0.125)">
                    <span style="font-size: 1.3rem; color: #1e1e1e;">Vipul Garg</span>
                    <span style="float: right; font-size: 1.3rem; color: #1e1e1e;">2K18/CO/390</span>
                    <p style="color: black; font-size: 1.1rem;">5th International Conference on Control and Robotics Engineering (ICCRE 2020) and 7th International Conference on Mechatronics, Electronics and Automation Engineering (ICMEAE 2020) were attended by Vipul Garg. He presented his paper titles “HandAid: A 7 DoF Semi-Autonomous Robotic Manipulator”</p>
                </li>
                <li class="list-group-item" style="border-bottom: 2px solid rgba(0,0,0,0.125)">
                    <span style="font-size: 1.3rem; color: #1e1e1e;">Vipul Garg</span>
                    <span style="float: right; font-size: 1.3rem; color: #1e1e1e;">2K18/CO/390</span>
                    <p style="color: black; font-size: 1.1rem;">5th International Conference on Control and Robotics Engineering (ICCRE 2020) and 7th International Conference on Mechatronics, Electronics and Automation Engineering (ICMEAE 2020) were attended by Vipul Garg. He presented his paper titles “HandAid: A 7 DoF Semi-Autonomous Robotic Manipulator”</p>
                </li>
                <li class="list-group-item" style="border-bottom: 2px solid rgba(0,0,0,0.125)">
                    <span style="font-size: 1.3rem; color: #1e1e1e;">Vipul Garg</span>
                    <span style="float: right; font-size: 1.3rem; color: #1e1e1e;">2K18/CO/390</span>
                    <p style="color: black; font-size: 1.1rem;">5th International Conference on Control and Robotics Engineering (ICCRE 2020) and 7th International Conference on Mechatronics, Electronics and Automation Engineering (ICMEAE 2020) were attended by Vipul Garg. He presented his paper titles “HandAid: A 7 DoF Semi-Autonomous Robotic Manipulator”</p>
                </li>
                <li class="list-group-item" style="border-bottom: 2px solid rgba(0,0,0,0.125)">
                    <span style="font-size: 1.3rem; color: #1e1e1e;">Vipul Garg</span>
                    <span style="float: right; font-size: 1.3rem; color: #1e1e1e;">2K18/CO/390</span>
                    <p style="color: black; font-size: 1.1rem;">5th International Conference on Control and Robotics Engineering (ICCRE 2020) and 7th International Conference on Mechatronics, Electronics and Automation Engineering (ICMEAE 2020) were attended by Vipul Garg. He presented his paper titles “HandAid: A 7 DoF Semi-Autonomous Robotic Manipulator”</p>
                </li>
                <!-- <li class="list-group-item" style="border-bottom: 2px solid rgba(0,0,0,0.125)">
                    <a href="#" style="display: block;">sdfj kasd lkasd fs f</a>
                    <span>17 MAR 2020</span>
                </li>
                <li class="list-group-item" style="border-bottom: 2px solid rgba(0,0,0,0.125)">
                    <a href="#" style="display: block;">sdfj kasd lkasd fs f</a>
                    <span>17 MAR 2020</span>
                </li> -->
            </ul>
        </div>
      </div>
</section>

<%- include('partials/footer') %> 