<%- include('partials/header') %> 
<div class="backToAdmin" style="padding-left: 20%;padding-top: 2%;color: 1e1e1e;">
    <a href="/admin" style="margin-left: 5px;"><%="<< "%>Admin Page</a>
</div>
<div id="login" class="container-fluid row" >
    <div class="col-md-6 col-10 mx-auto">
        <h1 style="text-align: center;">Add Notice</h1>
        <form action="/admin/create_notice" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Notice name">Notice Heading</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Notice Heading" required>
            </div>

            <label for="Date">Date</label>
            <div class="form-group" style="display: inline-block; margin-bottom: 0%; height: max-content;">
                
                <div class="form-group" style="display: inline-block;">
                    <select class="custom-select my-1 mr-sm-2" id="Day" name="day" required>
                        <!-- <option selected>Day</option> -->
                        <% for(var i=1; i<=31; i++){ %>
                            <% var day = "" + i %>
                            <% if(i<10) day = "0" + i%>  
                            <option value="<%= day %> "><%= day %> </option>
                        <% } %> 
                      </select>
                </div>
                <div class="form-group" style="display: inline-block;">
                    <select class="custom-select my-1 mr-sm-2" id="Month" name="month" required>
                        <!-- <option selected>Month</option> -->
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                      </select>
                </div>
                <div class="form-group" style="display: inline-block;">
                    <select class="custom-select my-1 mr-sm-2" id="Year" name="year" required>
                        <!-- <option selected>Year</option> -->
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                      </select>
                </div>
            </div>
            <div class="form-group">
                <label for="file upload">Upload File</label>
                <input type="file" class="form-control-file" id="notice_file" name="notice_file">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>

<%- include('partials/footer') %> 